<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <th:block th:insert="head_default.html"></th:block>
    <title>Students</title>
</head>
<header th:replace="header_admin.html :: header"></header>
<body>
<th:block th:insert="bootstrapjs.html"></th:block>
<h1 style="text-align: center; margin: 0 auto">Таблица с учителями</h1>
<table>
    <thead>
    <tr>
        <td style="font-weight: bold; border: none;">Имя</td>
        <td style="font-weight: bold; border: none;">Адрес</td>
        <td style="font-weight: bold; border: none;">Возраст</td>
        <td style="font-weight: bold; border: none;">Предмет</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${teachers}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.address}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.lesson}"></td>
    </tr>
    </tbody>
</table>
<div style="width: 100%; text-align: center ">
    <a sec:authorize="hasAuthority('ADMIN')"  th:href="@{/teachers/add}" style="text-align: center" >Добавить учителя</a>
</div>
</body>
<footer th:replace="footer.html ::footer"></footer>
</html>